*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Keystores & Certificates (Private Keys)
*.jks
*.keystore
viteacher_signing_backup_DO_NOT_SHARE.txt

# Binaries & Package Outputs
*.apk
*.aab
